
.WelcomePage {
    text-align: center;
    background-color: #282c34;
    width: 100vw;
    height: 100vh;
  }
  
.welcomecenterdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: #383c43;
}
.welcometext {
    color: orange;
    font-size: 90px;
    text-align: center; 
    line-height: 50px; 
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  
  .welcomePage-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .welcomePage-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .welcomePage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .welcomePage-link {
    color: #61dafb;
  }
  

  